<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /vs_php/

    # Quitar .php de las URLs
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^([^/]+)/?$ $1.php [L,QSA]

    # Regla para redirigir a index.php para controlar el flujo
    RewriteRule ^$ index.php [L,QSA]
</IfModule>

